@model IEnumerable<milestone2.ProductCategory>
@{
    ViewBag.Title = "Accessories";
}

<h4>Accessories</h4>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td style="border: 1px solid black">@Html.ActionLink(item.Name, "Details", new { id = item.ProductCategoryID })</td>
        </tr>
    }

</table>