@model IEnumerable<milestone2.Models.BikeListModel>
@{
    ViewBag.Title = "Road";
}

<h4> Road Bike Model List</h4>

@foreach (var item in Model)
{
    <div>
        @Html.ActionLink(item.ProductModel, "Details", new { id = item.ProductModelID })
        <p>@item.Description   </p>
    </div>
}



